<%-include("./partials/header")-%>
  <body>
    <%= success %>
    <main class=" ">
      <!-- <h1 class="text-black font-extrabold text-center text-4xl">Hello World</h1>
      <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi.</p> -->
      <div class=" header z-40 h-[700px] w-full bg-center bg-cover ">
        <nav class="z-40 max-w-[1200px] mx-auto h-[86px] flex justify-between items-center">
            <div class="logo w-40 h-11 z-40">
                <img class="w-40 h-11 z-40" src="/asset/pngegg.png" alt="netflix logo">
            </div>
            <div class="singin z-40  flex  gap-6 ">

                <select id="language " class="language px-6 bg-transparent text-white border bottom-2 border-white"
                    name="language">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                </select>

                <button class="singnbtn py-2 px-4 bg-red-600 text-white font-medium rounded-md ">
                    sign in
                </button>
            </div>
        </nav>
        <div class="containt z-40 text-white max-w-[1200px] relative mx-auto" >
            <div
                class="containtinner  flex flex-col  items-center justify-center justify-items-center h-full gap-4">
                <h1 class="maintitle textsize text-center text-5xl font-extrabold ">
                    Unlimited movies, TV shows and more</h1>
                <p class="text-xl font-normal">Watch anywhere. Cancel anytime.</p>
                <h3 class="text-xl font-normal text-center">
                    Ready to watch? Enter your email to create or restart your membership.
                </h3>
                <div class="containruser relative align-baseline flex flex-col  md:flex-row items-center gap-5">

                    <input type="email" name="email" id="email" placeholder="Email adress"
                        class="  border-2 border-slate-500 text-white pt-[24px] pl-[16px] pr-[128px] pb-[8px] bg-transparent">

                    <button class="py-4 px-6 bg-red-600 text-white text-2xl font-medium rounded-md text"><a class="text-white" href="/movies">Get Started</a>
                        ></button>
                </div>
            </div>
        </div>
        <div class="singnpopup absolute top-0 left-0 right-0 flex justify-center  min-h-[570px] bg-blackSign  max-w-[450px] mx-auto bg-bgsign">
            <div class="container flex flex-col mt-12  w-[19rem] p-[35px]">
            <h1 class="text-white font-semibold text-xl z-50">Sign in </h1>
            
            <form action="/login" method="post" class="validation row g-3 " novalidate>
            <div class="flex flex-col justify-center">
                <div class="col-md-10 my-3">
                    <label for="username" class="mb-3 text-white">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
                </div>

                <div class="col-md-10 my-3">
                    <label for="password" class="mb-3 text-white">Password:</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                </div>
              
                <div class="my-3">
                    <button class="btn btn-danger" type="submit">LogIn</button>
                </div>
            </div>
            </form>
            <div class="help flex justify-between" style="color: rgba(255,255,255,0.7);">
                <div class="rember">
                <input type="checkbox" name="remember" id="remember">
                <label for="remember">remember me</label>
                </div>
                <a href="help me">help me?</a>
            </div>
            <div class="signup mt-7" style="color: rgba(255,255,255,0.7);">
                <p>New to netfilx?<a href="/register" class=" text-white font-medium">Signup</a></p>
            </div>
            </div>
        </div>
    </div>
    <div class="gradiand2"></div>

        <section class="relative w-full text-white border-t-8 border-gray-600 min-h-[600px]" style="background: black ">
            <div
                class="main w-10/12 max-w-[1180px] flex flex-col md:flex-row mx-auto gap-6 justify-center items-center mt-[100px]">
                <div class="left  space-y-8">
                    <h2 class="textsize textcss font-extrabold  font-mullish text-5xl"> Enjoy on your TV</h2>

                    <p class="ptagtextsize textcss font-normal leading-8 text-2xl"> Watch on smart TVs, PlayStation, Xbox,
                        Chromecast, Apple TV, Blu-ray players and more.</p>

                </div>
                <div class="right max-w-[600px]"> 
                    <video src="asset/WhatsApp Video 2023-07-22 at 12.35.51.mp4" autoplay loop muted></video>
                </div>
            </div>
 
        </section>
        <section class="relative w-full text-white border-t-8 border-gray-600 min-h-[600px]" style="background: black ">
            <div
                class="main w-10/12 max-w-[1180px] flex flex-col-reverse md:flex-row mx-auto gap-36 justify-center items-center mt-[100px]">

                <div class="right max-w-[680px]">
                    <img src="asset/ssmobile.png" alt="">
                </div>
                <div class="left max-w-[600px] space-y-8">
                    <h2 class="textsize textcss font-extrabold  font-mullish text-5xl"> Download your shows to watch offline
                    </h2>

                    <p class="ptagtextsize textcss font-normal leading-8 text-2xl"> Watch on Save your favourites easily and always
                        have something to watch.</p>


                </div>
            </div>
            

        </section>
        <section class="relative w-full text-white border-t-8 border-gray-600 min-h-[600px]" style="background: black ">
            <div
                class="main w-10/12 max-w-[1180px] flex flex-col md:flex-row mx-auto gap-6 justify-center items-center mt-[100px]">
                <div class="left  space-y-8">
                    <h2 class="textsize textcss font-extrabold  font-mullish text-5xl"> Watch everywhere
                    </h2>

                    <p class="ptagtextsize textcss font-normal leading-8 text-2xl"> Stream unlimited movies and TV shows on your
                        phone, tablet, laptop, and TV.</p>


                </div>
                <div class="right max-w-[600px]">
                    <video src="asset/diwali.mp4" autoplay loop muted></video>
                </div>
            </div>
            

        </section>
        <section class="relative w-full text-white border-t-8 border-gray-600 min-h-[600px]" style="background: black ">
            <div
                class="main w-10/12 max-w-[1180px] flex flex-col-reverse md:flex-row mx-auto gap-36 justify-center items-center mt-[100px]">

                <div class="right max-w-[680px]">
                    <img src="asset/children.png" alt="">
                </div>
                <div class="left max-w-[600px] space-y-8">
                    <h2 class="textsize textcss font-extrabold  font-mullish text-5xl"> Create profiles for kids
                    </h2>

                    <p class="ptagtextsize textcss font-normal leading-8 text-2xl">
                        Send children on adventures with their favourite characters in a space made just for them—free
                        with your membership.</p>


                </div>
            </div>


        </section>
        <footer class="relative w-full text-white border-t-8 border-gray-600 min-h-[400px] "
            style="background: black;color: rgba(255,255,255,0.7);">
            <div class="minfooter flex flex-col max-w-[1100px] mx-auto my-20">
                <div style="width: 90%;" class="mx-auto">
                <p><span>Questions?Call </span><a href="#">000-800-919-1694</a></p>
                <div class="linkfooter grid grid-cols-3 gap-2 mt-[10px]">
                    <div><a>FAQ</a></div>
                    <div><a>HelpCenter</a></div>
                    <div><a>Account</a></div>
                    <div><a>Media Center</a></div>
                    <div><a>Investor Relations</a></div>
                    <div><a>Jobs</a></div>
                    <div><a>Ways to Watch</a></div>
                    <div><a>Terms of use</a></div>
                    <div><a>Privacy</a></div>
                    <div><a>Cooike Preferences</a></div>
                    <div><a>Corporate Information</a></div>
                    <div><a>Contact Us</a></div>
                    <div><a>Speed Test</a></div>
                    <div><a>Legal Notices</a></div>
                    <div><a>Only on Netfilx</a></div>
                </div>
                <select id="language "
                    class="language px-6 bg-transparent border bottom-2 border-white inline-block w-28 mt-4 mb-4"
                    name="language">
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                </select>

                <p>Netfilx india</p>
            </div>
            </div>
        </footer>
       

    </main>
    <script>
        (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
    </script>
    <script src="/javascripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  </body>
</html>
