<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.plyr.io/3.6.3/plyr.css" />
	<link rel="stylesheet" href="/styles/style.css">
	<title>Netflix</title>
</head>
<body>
	<video id="player" playsinline controls autoplay data-poster="/path/to/poster.jpg">
		<source src="https://res.cloudinary.com/dtuuyvimi/video/upload/v1693317773/Netflix/Netflix_Intro_1080p_Download_ndeqbq.mp4" type="video/mp4" />
	  </video>
  
	  <script src="https://cdn.plyr.io/3.6.3/plyr.polyfilled.js"></script>
</body>
</html>