@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url("/asset/bacroundimg.jpg");
    z-index: 40;
    
}

.noscrollbar::-webkit-scrollbar{
    display: none;
}

.logo img{
    width: 9.5em;
}
.singnpopup{
    visibility: hidden;
}
.visible{
    visibility: visible;
    z-index: 50;
}
.containruser ::placeholder {
    color: white;
}

.containt {
    height: calc("90vh-86px");
}

.gradiand2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 700px;
    background-image: linear-gradient(black, transparent, black);

}
.poster{
	background-image: linear-gradient(hsla(0, 0%, 0%, 0.826), rgba(0, 0, 0, 0.362), rgba(0, 0, 0, 0.864));
	background-image: url("https://occ-0-2164-420.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABS6v2gvwesuRN6c28ZykPq_fpmnQCJwELBU-kAmEcuC9HhWX-DfuDbtA-bfo-IrfgNtxl0qwJJlhI6DENsGFXknKkjhxPGTV-qhp.jpg?r=608");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.poster2 {
    object-fit:cover;
    object-position: 10%;
}

@media screen and (max-width: 750px) {
    .textcss {
        text-align: center;
    }

    .textsize{
        font-size: 2.25rem
            /* 36px */
        ;
        line-height: 2.5rem
            /* 40px */
        ;
    }

    
  .ptagtextsize{
        font-size: 1.25rem
            /* 20px */
        ;
        line-height: 1.75rem
            /* 28px */
        ;
    }
    .maintitle{
        padding: 0 10px 0 10px;
    }
    .minfooter{
        padding: 0 0 0 54px;
    }
    .linkfooter{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (max-width: 450px){
    .linkfooter{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
@media screen and (max-width: 575px){
    .containruser{
        display: flex;
        flex-direction: column;
    }


}

